<div class="jumbotron text-center">
    <h1>Bem-vindo ao Sistema de Gerenciamento de Estoque do Mercado Baltazar</h1>
    <p class="lead">Gerencie de forma eficiente seus Usuários, produto, Fornecedores, Clientes, e Categorias.</p>

    <%#
    <a href="/users" class="btn btn-custom">Gerenciar usuários</a>
    <a href="/produto" class="btn btn-custom ml-">Gerenciar produto</a>
    <a href="/fornecedores" class="btn btn-custom ml-2">Gerenciar fornecedores</a>
    <a href="/categorias" class="btn btn-custom ml-2">Gerenciar categorias</a>
    <a href="/vendas" class="btn btn-custom ml-2">Gerenciar Vendas</a>
    %>
   
    
</div>

<div class="row">
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de usuários</h3>
            <p>Adicione, edite e exclua usuários facilmente com nossa interface intuitiva.</p>
            <a href="/users" class="btn btn-primary">Ir para os usuários</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de produto</h3>
            <p>Acompanhe seus produto e seus detalhes perfeitamente.</p>
            <a href="/produto" class="btn btn-primary">Ir para produto</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de clientes</h3>
            <p>Adicione, edite e exclua clientes facilmente. Mantenha suas informações sempre atualizadas.</p>
            <a href="/clientes" class="btn btn-primary">Ir para clientes</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="feature-card">
            <h3>Gerenciamento de fornecedores</h3>
            <p>Gerencie seus fornecedores e mantenha um bom relacionamento com eles.</p>
            <a href="/fornecedores" class="btn btn-primary">Ir para fornecedores</a>
        </div>
    </div>
</div>

