<h1>Editar categoria</h1>
<form action="/categorias/<%= categoria.id %>?_method=PUT" method="POST">
    <style>
        .form-container {
            max-width: 900px;
            margin: 50px auto;
            padding: 40px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            font-weight: bold;
        }
        button[type="submit"] {
            background-color: #0259b7;
            color: white;
            border: none;
            padding: 12px 20px;
            font-size: 1.2rem;
            font-weight: bold;
            border-radius: 8px;
            width: 100%;
        }
        .btn-view {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 1.1rem;
            border-radius: 8px;
            margin-top: 20px;
            width: 100%;
        }
        .btn-view:hover {
            background-color: #218838;
        }
    </style>
    <div class="form-group">
        <label for="nome">Categoria</label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= categoria.nome %>" required>
    </div>
    <button type="submit" class="btn btn-warning">Salvar</button>
</form>
