<h1>Detalhes da vendas</h1>
<p>ID: <%= vendas.id %></p>
<p>Data da vendas: <%= vendas.data %></p>
<p>Valor Total: <%= vendas.valor %></p>

<a href="/vendas" class="btn btn-primary">Voltar para a Lista</a>
