<h1>Detalhes da Venda</h1>

<p>ID: <%= venda.id %></p> <!-- Corrigido de 'vendas.id' para 'venda.id' -->
<p>Data da Venda: <%= venda.data_vendas %></p> <!-- Corrigido de 'vendas.data_vendas' para 'venda.data_vendas' -->
<p>Valor Total: <%= venda.valor_total %></p> <!-- Corrigido de 'vendas.valor_total' para 'venda.valor_total' -->


<a href="/vendas" class="btn btn-primary">Voltar para a Lista</a>
